In [1]:
import pandas as pd
from sqlalchemy import create_engine

# Store CSV into Dataframe

In [2]:
csv_file = "Resources/Fuel Stations all Fuel Types USA.csv"
fuel_stations_df = pd.read_csv(csv_file,low_memory=False)
fuel_stations_df.head()

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,EV Pricing,EV Pricing (French),LPG Nozzle Types,Hydrogen Pressures,Hydrogen Standards,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,EV On-Site Renewable Source
0,CNG,PS Energy - Atlanta,340 Whitehall St,"From I-7585 N, exit 91 to Central Ave, left on...",Atlanta,GA,30303,NaN,770-350-3000,E,...,NaN,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN
1,CNG,Clean Energy - Texas Department of Transportation,7721A Washington St,"I-10, Washington Ave exit, 1.5 blocks to the s...",Houston,TX,77007,NaN,866-809-4869,E,...,NaN,NaN,NaN,NaN,NaN,Q,3000 3600,MD,NaN,NaN
2,CNG,Arkansas Oklahoma Gas Corp,2100 S Waldron Rd,NaN,Fort Smith,AR,72903,NaN,479-783-3188,E,...,NaN,NaN,NaN,NaN,NaN,Q,3600,MD,NaN,NaN
3,CNG,Clean Energy - Logan International Airport,1000 Cottage St Ext,"From Route 1, take the first exit after Callah...",East Boston,MA,2128,NaN,866-809-4869,E,...,NaN,NaN,NaN,NaN,NaN,Q,3000 3600,MD,NaN,NaN
4,CNG,Clean Energy - Everett - National Grid,16 Rover St,"Rt 16, exit to Rt 99, to Dexter St to Rover. O...",Everett,MA,2149,NaN,866-809-4869,E,...,NaN,NaN,NaN,NaN,NaN,Q,3000 3600,HD,NaN,NaN

# Create new data Frame with columns

In [3]:
station_cols = [ "State","Fuel Type Code"]
new_fuel_stations_df = fuel_stations_df[station_cols].copy()
new_fuel_stations_df.head()

  State Fuel Type Code
0    GA            CNG
1    TX            CNG
2    AR            CNG
3    MA            CNG
4    MA            CNG

# Transform New_Fuel_Stations Data Frame

In [4]:
# Rename Column Headers & Clean up Duplicates

new_fuel_stations_df = new_fuel_stations_df.rename(columns={"State": "state",
                                                           "Fuel Type Code": "fuel_type"})

new_fuel_stations_df.head()

  state fuel_type
0    GA       CNG
1    TX       CNG
2    AR       CNG
3    MA       CNG
4    MA       CNG

In [5]:
# Select all electric fuel types 
new_fuel_stations_df = new_fuel_stations_df[new_fuel_stations_df["fuel_type"]=="ELEC"]
new_fuel_stations_df.head()

    state fuel_type
100    CA      ELEC
101    CA      ELEC
104    CA      ELEC
105    CA      ELEC
106    CA      ELEC

In [6]:
new_fuel_stations_df.count()

state        47086
fuel_type    47086
dtype: int64

In [27]:
csv_file = "Resources/10962_ev_registration_counts_by_state.csv"
registration_df = pd.read_csv(csv_file,low_memory=False)
registration_df.head()

        State Registration Count
0     Alabama              1,450
1      Alaska                530
2     Arizona             15,000
3    Arkansas                520
4  California            256,800

In [30]:
registration_cols = ["State","Registration Count"]
new_registration_df= registration_df[registration_cols].copy()
new_registration_df.head()

        State Registration Count
0     Alabama              1,450
1      Alaska                530
2     Arizona             15,000
3    Arkansas                520
4  California            256,800